#floating-panel{
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
#floating-panel select#start,#floating-panel select#end{
    text-align: center;
    height: 34px;
    vertical-align: middle;
    position: relative;
    color: rgb(86, 86, 86);
    font-family: Roboto, Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    padding: 0px 10px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-clip: padding-box;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; */
    min-width: 65px;
    margin-right: 5px;
    border: 1px solid #ccc;

}